<div id="about">
  <div class="row">
    <div class="offset2 span8 lead well">
      <p>At Ethikellee, we care alot about websites. We started as a group of friends just making cool websites for fun. We then were asked to make websites professionally by lecturers and friends. Our websites are bitchin because making websites is our passion! We also come up with great ideas and love technology.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="offset2 span10 lead">
      <blockquote>
        <p>I'm Cool</p>
        <small>Laurence Hone</small>
      </blockquote>
    </div>
  </div>
  
 
</div>