<div class="row option-menu">
  <div class="offset5">
    <div class="btn-group">
      <button class="btn" id="btnShowcase">Showcase</button>
      <button class="btn" id="btnAbout">About</button>
    </div>
  </div>
</div>