<div id='showcase' class='row well span11'>
  <h1 class='center showcase-title'>Meet Some of our clients ....</h1>
  
  <div id="showcase" class='offset1 span8'>
    <div class="row">
      <div class="span8">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <%= image_tag 'eg.png'%>
                <div class="carousel-caption">
                  <h4>ElectricGhost Art &amp Design</h4>
                  <p>ElectricGhost is a digital art and design agency that is so passionate about music it even has it's own monthly music magazine</p>
                </div>
            </div>
            <div class="item">
              <%= image_tag 'insight.png'%>
              <div class="carousel-caption">
                <h4>Iceton</h4>
                <p>Iceton is a small company with big ideas. Owned and managed by Ben Iceton.</p>
              </div>
            </div>
        
            <div class="item">
              <%= image_tag 'illogical.png'%>
              <div class="carousel-caption">
                <h4>Illogical Gaming</h4>
                <p>[Kelly can have a few words to say about this.. and will not have a bad word said..]</p>
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>