<footer class="footer">
	<small>
		EthiKelLee website by Alex Kelly and William Lee
	</small>
	<nav>
		<ul>
			<li><%= link_to "Twitter", 	'#' %></li>
			<li><%= link_to "Facebook",	'#' %></li>
		</ul>
	</nav>
</footer>